@import url('https://fonts.googleapis.com/css2?family=Acme&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500;600&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ysabeau+SC:wght@1..1000&display=swap');

body{
     box-sizing: border-box;
}
.homepage {
     margin-top: 5em;
     max-height: 88vh;
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     height: 100%;
     text-align: center;
     justify-content: center;
     align-items: center;
     padding: 1.5rem;
     color: rgb(0, 0, 0);
     font-weight: bolder;
     font-family: "Poppins", serif;
}
.brand-img{
     margin: 0 0;
     height: 14em;
     width: 14em;
     background-color: #000000;
     border-radius: 20px;
}


.div{
     font-size: 1.8em;
}

.list{
     color: white;
     text-decoration: none;
     margin: 10px 10px;
}

a{
     text-decoration: none;
     color: rgb(0, 0, 0);
}



.button{
     padding: 5px 10px;
     height: 20px;
     cursor: pointer;
     background-color: #e112c9;
     color: white;
     border-radius: 5px;
     border: rgb(0, 0, 0) 2px solid;
}

.bi{
     font-size: 1.8rem;
}

.text{
     font-size: 1.5rem;
}

.text-2{
     font-size: 1.2rem;
}