.img-product {
     height: 12em;
     width: 12em;
     margin-bottom: 5%;
     border: white solid 5px;
     border-radius: 10px;
}

.product {
     margin-top: 6em;
     text-align: center;
     box-sizing: border-box;
}

.products {
     text-align: center;
     flex-wrap: wrap;
     display: grid;
     grid-template-columns: repeat(auto-fit, 14.5rem);
     box-sizing: border-box;
     justify-content: center;
     gap: 20px;
}

.one,
.two,
.three,
.four,
.five,
.six {
     color: rgb(0, 0, 0);
     margin: 10px 10px;
     height: 20em;
     width: 14.5em;
     background: #ffffff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     border: black 2px solid;
}

.prod {
     font-size: 2em;
     margin: 30px 0;
     color: rgb(0, 0, 0);
}

.parag {
     margin: 5px 10px;
}

.extra {
     margin-bottom: 7px;
}

@media (max-width: 650px) {

     .img-product{
          margin-top: 5px;
          height: 7em;
          width: 7em;
     }
     .products {
          gap: 0;
          text-align: center;
          flex-wrap: wrap;
          display: grid;
          grid-template-columns: repeat(auto-fit, 11em);
          box-sizing: border-box;
          justify-content: center;
          align-items: center;
     }

     .one,
     .two,
     .three,
     .four,
     .five,
     .six {
          color: rgb(0, 0, 0);
          margin: 10px 10px;
          height: 15em;
          width: 10em;
          background: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          border: 2px black solid;
     }
}