*{
  max-width: 100dvw;
}
body{
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  background-color: rgb(254, 254, 254);
  font-weight: bolder;
  max-width: 100vw;
}

.nav-fixed{
  position: fixed;
  width: 100%;
  top: 0px;
}